:host{
  font-family: Verdana, Arial, Helvetica, sans-serif;
  color: gray;
}

body{
  padding-left: 3%;
  padding-right: 3%;
  width: 100vw;
  height: 100vh;
}

.students{

}




.table{
  padding: 25px;
}

.forAddButton
{
  padding: 25px;
}

header{
  margin-left: 25px;
  margin-right: 25px;
  margin-top: 15px;
  text-align: center;
  color: gray;
}
